altgraph==0.17.3
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
datefinder==0.7.3
et-xmlfile==1.1.0
Flask==2.3.2
forex-python==1.8
fuzzywuzzy==0.18.0
geojson==2.5.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
Levenshtein==0.21.0
lxml==4.9.2
MarkupSafe==2.1.2
MouseInfo==0.1.3
nltk==3.8.1
openpyxl==3.1.2
pefile==2023.2.7
Pillow==9.5.0
psutil==5.9.5
PyAudio @ file:///C:/Users/mrgod/Downloads/PyAudio-0.2.11-cp311-cp311-win_amd64.whl#sha256=5092b46bff5d6687db817bde4a71ffc50dd316cc2e490ee81908f0c95ef2644f
PyAutoGUI==0.9.53
pycountry==22.3.5
PyGetWindow==0.0.9
pyglet==2.0.7
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
PyMsgBox==1.0.9
pyowm==3.3.0
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyRect==0.2.0
PyScreeze==0.1.28
pyshorteners==1.0.1
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-Levenshtein==0.21.0
pyttsx3==2.90
pytweening==1.0.5
pytz==2023.3
pywhatkit==5.4
pywin32==306
pywin32-ctypes==0.2.0
rapidfuzz==3.0.0
regex==2023.3.23
requests==2.29.0
scandir==1.10.0
simplejson==3.19.1
six==1.16.0
soupsieve==2.4.1
SpeechRecognition==3.10.0
tqdm==4.65.0
urllib3==1.26.15
Werkzeug==2.3.3
wikipedia==1.4.0
